<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data API</title>
</head>
<body>
    <h1>Weather Data API</h1>
    <p>URL Format: http://127.0.0.1:5001/api/v1/STAID/DATE</p>
    <p>Where STAID is the station ID in the table below
    <br>and   DATE is in the format YYYYMMDD</p>
    <p>URL Example: http://127.0.0.1:5001/api/v1/10/19881025
    <br>to get the average temperature recorded at the Stockholm station on 25th October 1988</p>
    <p>{{data|safe}}</p>
</body>
</html>